VERSION.tex
referee/

_region_.tex
.Rhistory
*~
*.tar.gz
*.out
*.fdb_latexmk
*.ttt
*.lot
*.lof
*.fff
*.fls
*.Rout
*.dvi
*.mk
*.aux
*.bbl
*.blg
*.log
*.pdf
*.db
*.toc
*.tof
*.tot
*.nav
*.snm

lib/
auto/
db/
floats/
tex/
mc1
mc2
